<apex:page showHeader="false" sidebar="false" docType="html-5.0" applyHtmlTag="true" applyBodyTag="true" standardStylesheets="false">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<title></title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />

	  <!-- Compiled and minified JavaScript -->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      
      <style type="text/css">
        .container{
        	/**background-image: url("http://www.themesrefinery.net/wp-content/uploads/2014/06/light-background-design-website-9.jpg");**/
        	background-color: white;
        }
      </style>
      	<script type="text/javascript">
	        (function($){
	  			$(function(){
					$('.collapsible popout').collapsible({
	      				accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	    			});

	  			}); // end of document ready
			})(jQuery); // end of jQuery name space
			(function($){
	  			$(function(){
	   				$('.carousel').carousel();
				}); // end of document ready
			})(jQuery); // end of jQuery name space
        </script>
	</head>
	<body bgcolor="#FFFFFF">
		<div class="container">
			<div class="row">
		        <div class="col m8">
		          	<div class="card">
			            <div class="row">
                            <div class="col m11">
                                <img src="{!$Resource.HIPAA}" height="200px" width="400px" style="margin-left:50px;" />
                            </div>
                            <!--<div class="col m6">
                                <h4 style="float:left;maegin-top:30px;color:blue;"><apex:outputText value="HEALTH INSURANCE PORTABILITY & ACCOUNTABILITY ACT"></apex:outputText></h4>
                            </div>-->
			            </div>
			            <div class="card-content">
			              <span style="font-weight: bold;">Are you HIPAA Compliant?</span>
			              <li>Lock your computer before leaving your desk(<em>Ctrl+Alt+Del</em> before you leave your seat)</li>
			              <li><em>[ENCRYPT]</em> emails that have PHI</li>
			              <li>Lock your desk with PHI and don't leave PHI on your desk</li>
			              <li>Never take PHI out of office</li>
			              <li>Never discuss PHI with anyone outside Integra</li>
			              <li>Make sure you have all your documents before you leave the printer</li>
			              <li>Shred all PHI documents you do not need (Iron Mountain Bin)</li>
			            </div>
			        </div>
			    </div>
			    <!--<div class="col m6">
			    	<h4 class="center-align teal-text text-darken-2">Integra Announcements</h4>
			    	<br />
			    	<ul class="collapsible popout" data-collapsible="accordion">
			    		<apex:repeat value="{!announceList}" var="a">
			    			<li>
						      <div class="collapsible-header teal-text text-darken-2"><i class="material-icons black-text">add_alert</i>{!a.Heading__c}</div>
						      <div class="collapsible-body"><p>{!a.Message_Body__c}</p></div>
					    	</li>
			    		</apex:repeat>
					</ul>
			    </div>-->
	      	</div>
            <div class="row">
                <div class="col m8">
                    <div class="carousel">
                        <span><h4 class="center-align teal-text text-darken-2">Integra Products</h4></span>
                        <a class="carousel-item" href="http://accessintegra.com" target="_blank"><img src="{!$Resource.In_Logo}" width="50" height="150"/></a>
                        <a class="carousel-item" href="https://que.accessintegra.com/Account/LogIn?ReturnUrl=%2f" target="_blank"><img src="{!$Resource.Que}" width="50" height="150" /></a>
                        <a class="carousel-item" href="https://accessintegra.secure.force.com/ProviderPortal" target="_blank"><img src="{!$Resource.Clear}" width="50" height="150"/></a>
                        <a class="carousel-item" href="#four!"><img src="{!$Resource.Insights}" width="50" height="150" /></a>
                        <a class="carousel-item" href="#five!"><img src="{!$Resource.Inworks}" width="50" height="150" /></a>
                    </div>
                </div>
		    </div>
		</div>
        <div class="footer-copyright">
            <div class="container teal-text text-darken-2">
            © Integra Partners and Materialize CSS
            </div>
        </div>
	</body>
</apex:page>