<apex:page standardController="Case" doctype="html-5.0" showHeader="false" sidebar="false" showChat="false" standardStylesheets="false">
	<apex:stylesheet id="semanticCSS" value="{!URLFOR($Resource.semantic, 'Semantic-UI-CSS-master/semantic.css')}" />
    <!--JAVASCRIPT-->
    <apex:includeScript value="/support/console/40.0/integration.js"/>
	<apex:includeScript value="/soap/ajax/26.0/connection.js"/>
	<apex:includeScript id="semanticJS" value="{!URLFOR($Resource.semantic, 'Semantic-UI-CSS-master/semantic.min.js')}" />
	
	<div class="ui fluid container" style="padding-left: 20px; margin-right: 20px; margin-top: 10px;">
		<div class="row">
			<div class="ui small steps">
				<div class="step">
					<i class="marker icon"></i>
					<div class="content">
						<div class="title">{!Case.CaseNumber}</div>
						<div class="description">Case Number</div>
					</div>
				</div>
				<div class="step">
					<i class="shipping icon"></i>
					<div class="content">
						<div class="title">{!IF(Case.Account.Name == null, Case.SuppliedCompany, Case.Account.Name)}</div>
						<div class="description">Account</div>
					</div>
				</div>
				<div class="step">
					<i class="call icon"></i>
					<div class="content">
						<div class="title">{!IF(Case.Contact.Name == null, Case.SuppliedName, Case.Contact.Name)}</div>
						<div class="description">Caller Name</div>
					</div>
				</div>
				<div class="step">
					<i class="street view icon"></i>
					<div class="content">
						<div class="title">{!Case.CallerType__c}</div>
						<div class="description">Contact Type</div>
					</div>
				</div>
				<div class="step">
					<i class="user icon"></i>
					<div class="content">
						<div class="title">{!Case.Owner.Name}</div>
						<div class="description">Assigned To</div>
					</div>
				</div>
				<div class="step">
					<i class="filter icon"></i>
					<div class="content">
						<div class="title">{!Case.RecordType.Name}</div>
						<div class="description">Case Type</div>
					</div>
				</div>
				<div class="step">
					<i class="refresh icon"></i>
					<div class="content">
						<div class="title">{!Case.Status}</div>
						<div class="description">Case Status</div>
					</div>
				</div>
			</div>
		</div>
		<!--<br />
		<br />
		<div class="row">
			<div class="ui grid">
				<div class="six wide column">
					<h3 class="ui header">Called About: {!Case.Reason}</h3>
					<p>Call Detail: {!Case.Case_Subreason__c}</p>
				</div> &nbsp;
				<div class="six wide column">
					<h3 class="ui header">Subject: {!Case.Subject}</h3>
					<p>Description: {!Case.Description}</p>
				</div>
			</div>
		</div>	-->
	</div>
</apex:page>