<apex:page controller="ProviderHomeDashboard_CS" action="{!init}" showHeader="false" sidebar="false" standardStyleSheets="false" cache="false">

<c:ProviderHeader_CS accountName="{!portalUser.instance.Entity__r.Name}" />

<div class="page-wrap">

<c:ProviderNavigation_CS inboxCount="{!inboxCount}" userName="{!portalUser.instance.Name}" accountName="{!portalUser.instance.Entity__r.Name}"/>

<apex:form >
    <div class="row">
    	<div class="dashboard">
            <div class="graphic large-4 small-12 columns left">
                <h1 class="title">My Dashboard</h1>
                <canvas id="canvas" height="300" width="300" class="push-down"></canvas>
                <ul class="dashboard-status large-10 large-offset-1 push-top">
                    <li class="pending">
                        <apex:outputLink value="ProviderOrdersSummary_CS">
                        	<apex:param name="filter" value="Pending Acceptance"/>                        
	                        <span class="circle green"></span> 
	                        <span class="number">{!pendingAcceptanceCount}</span>
	                        <span class="status">Pending Acceptance</span>
                        </apex:outputLink>
                    </li>
                    <li class="process">
                        <apex:outputLink value="ProviderOrdersSummary_CS">
                        	<apex:param name="filter" value="Needs Attention"/>
	                        <span class="circle orange"></span>
	                        <span class="number">{!needsAttentionCount}</span> 
	                        <span class="status">Needs Attention</span>
                        </apex:outputLink>
                    </li>
                    <li class="attention">
                        <apex:outputLink value="ProviderOrdersSummary_CS">
                        	<apex:param name="filter" value="In Progress"/>
	                        <span class="circle light-grey"></span>
	                        <span class="number">{!inProgressCount}</span> 
	                        <span class="status">In Progress</span>
                        </apex:outputLink>
                    </li>
                    <li class="cancelled">
                        <apex:outputLink value="ProviderOrdersSummary_CS">
                        	<apex:param name="filter" value="Cancelled"/>
	                        <span class="circle dark-grey"></span>
	                        <span class="number">{!cancelledCount}</span> 
	                        <span class="status">Cancelled</span>
                        </apex:outputLink>
                    </li>
                </ul>
            </div>
            <div class="pending large-7 small-12 columns right">
                <div class="large-9 small-12 columns">
                    <h5>Orders Pending Acceptance</h5>
                </div>

                <ul class="large-12 small-12 columns pending-acceptance-list">
				
				<apex:repeat value="{!recentOrderList}" var="order">

                    <li class="large-12 columns">
                   		<apex:outputLink value="ProviderOrderSummary_CS" styleclass="large-12 columns">
                            <p class="large-8 small-8 columns left">Destination: {!order.City__c}, {!order.State__c} {!order.Zip__c}  
                            <span class="expected-date">Deliver By: 
                            	<apex:outputtext value="{0,date,MM/dd/yyyy}" escape="false">
                                    <apex:param value="{!IF( AND(order.Delivery_Window_End__c != null,(order.Delivery_Window_End__c >= $Setup.DST_Dates__c.CorrectionStartDate__c && 
                                    order.Delivery_Window_End__c <= $Setup.DST_Dates__c.CorrectionEndDate__c)), order.Delivery_Window_End__c - (5/24), order.Delivery_Window_End__c - (4/24))}"/>
                                    <!-- changing 4/24 to timeZoneOffset for daylight saving end - 11/21/2016 --->
                                </apex:outputtext>&nbsp;
                                <apex:outputtext value="{0,date,h:mm a}" escape="false">
                                    <apex:param value="{!IF( AND(order.Delivery_Window_End__c != null,(order.Delivery_Window_End__c >= $Setup.DST_Dates__c.CorrectionStartDate__c && 
                                    order.Delivery_Window_End__c <= $Setup.DST_Dates__c.CorrectionEndDate__c)), order.Delivery_Window_End__c - (5/24), order.Delivery_Window_End__c - (4/24))}"/>
                                    <!-- changing 4/24 to timeZoneOffset for daylight saving end - 11/21/2016 --->
                                </apex:outputtext>
                            </span></p>
<!--                             <p class="reminding-time large-4 small-4 columns right text-right">Expires at <span class="text-orange">{!order.Expiration_Time__c - (4/24)}</span></p> -->
                            <apex:param name="oid" value="{!order.Id}"/>
                     	</apex:outputLink>
                    </li>
				
				</apex:repeat>
                
                </ul>
                <p><a href="ProviderInbox_CS" class="link text-secondary m-left text-small">View All</a></p>
            </div>
    	</div><!--dashboard-->
    </div><!--.row dashboard-->

</apex:form>
</div><!--page-wrap-->

<c:ProviderFooter_CS />

<script>
//<![CDATA[
    var doughnutData = [
            {
                value : {!pendingAcceptanceCount},
                color : "#4eb7a8"
            },            
            {
                value : {!needsAttentionCount},
                color : "#e75735"
            },            
            {
                value : {!inProgressCount},
                color : "#e5e5e5"
            },
            {
                value: {!cancelledCount},
                color:"#747474"
            }

        ];

var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
    $("#botSmallPic1").click(function(){
        $.smallBox( 
        {
            title: "<h4 style='color:#fff;'>New Order</h4>",
            content: "<h6 style='color:#fff; class='content'>From Health Plan, Inc. <br/><a class='demo-button button tiny' href='order-pending.php'>Review Order</a></h6>",
            timeout: 30000,
            color: "#34495e",
            icon: "images/close.png",
        }
        );

    });
//]]>
</script>

</apex:page>