<apex:page controller="PublicKnowledgeSearchController" showHeader="false" sidebar="false" standardStyleSheets="false" cache="false" > <!-- action="{!init}" -->

	<head>

		<c:PublicKnowledgeHeader />
		
        <style>
			div.search-results {
				border: 2px !important;
            	border-style: solid !important;
            	border-color: #ECECEC !important;
			}            
            
            li.searchResult:nth-child(odd) {
                background-color: #F5F5F5;
            }
            
            li.searchResult:nth-child(even) {
                background-color: #FFFFFF;
            }
            
            li.searchResult {
            	padding: 1rem !important;
            	position: relative;
            }
            
            ul.searchResults {
            	list-style: none;
            	margin-left: 0rem;
            }
            
            span.articleNumber {
            	text-align: right;
            	top: 5px;
            	right: 10px;
            	position: absolute;
            	color: #26B69E;
            }
        </style>
        
	</head>
	
	<body>	
		<div class="page-wrap">
			<div class="row page-header">
				<div class="columns small-12">
					<ul class="breadcrumbs">
						<li><a href="{!$Page.PublicKnowledgeHome}">Home</a></li>
						<li class="current"><a href="#">Search Results</a></li>
					</ul>
				</div>
				<apex:form >
	            	<c:PublicKnowledgeSearchBar searchString="{!searchString}"/>
	            </apex:form>
            </div>
            <div class="row ">
				<div class="columns small-12 small-centered page-content">
                    <apex:outputPanel id="searchResults" layout="block" styleClass="search-results">
                        <ul class="searchResults">
                            <apex:repeat value="{!tkwResults}" var="result">
                                <li class="searchResult">
                                	<a href="{!$Page.PublicKnowledgeArticle}?aid={!result.knowledgeArticleId}"><span class="articleNumber">Article #{!result.articleNumber}</span></a>
                                	<a href="{!$Page.PublicKnowledgeArticle}?aid={!result.knowledgeArticleId}"><apex:outputText value="{!result.titleBolded}" escape="false" /></a>
                                	<br/><apex:outputText id="contentId" value="{!result.contentTruncated}" escape="false"/>
                                	<!-- <br/><apex:outputText value="{!result.debugSorting}" escape="false"/> -->
                                </li>
                                <!-- <li class="searchResult"></li> -->
                            </apex:repeat>
                        </ul>
                        {!IF(searchResults.size == 0,'No Results','')}
                    </apex:outputPanel>
				</div>
			</div>
		</div>

		<script>
			$j(document).foundation();
        
        	//Modify the icon column width
            $j("#queIcon").css("height",$j("#searchRow").css("height"));
		</script>

	</body>

</apex:page>