<apex:page controller="PublicKnowledgeArticleController" showHeader="false" sidebar="false" standardStyleSheets="false" cache="false" action="{!init}" >

	<head>

		<c:PublicKnowledgeHeader />
		
        <style>
       		.article-content {
            	overflow-y:auto;
            }
            .article-content span {
            	font-family: 'Roboto', sans-serif !important;
            	font-weight: 400 !important;
           	}
           	.article-content b {
           		font-weight: 700;
           	}
        </style>
        
	</head>
	
	<body>
		<div class="page-wrap">
            <div class="row page-header">
                <div class="columns small-12">
                    <ul class="breadcrumbs">
                        <li><a href="{!$Page.PublicKnowledgeHome}">Home</a></li>
                        <li class="unavailable"><a href="">Articles</a></li>
                        <li class="current"><a href="#">{!article.Title}</a></li>
                    </ul>
                </div>
                <apex:form >
                	<c:PublicKnowledgeSearchBar />
                </apex:form> 
            </div>
            <div class="row article-title">
                <div class="small-12 columns">
                    <h2>{!article.Title}</h2>
                    <h5 class="subheader">{!article.Summary}</h5>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="article-content">
                        <apex:outputField id="articleContent" value="{!article.Content__c}"/>
                    </div>	
                </div>
            </div>
		</div>
		
		<script>
			$j(document).foundation();
			
			//Modify the icon column width
	        $j("#queIcon").css("height",$j("#searchRow").css("height"));
        
        	//Modify the article title and content
        	var pageWrapHeight = $j(".page-wrap").height();
        	var searchHeaderHeight = $j(".page-header").height();
        	var articleTitleHeight = $j(".article-title").height();
        	var articleContentHeight = pageWrapHeight-searchHeaderHeight-articleTitleHeight;
        	$j(".article-content").css("height",articleContentHeight);
		</script>
		
	</body>

</apex:page>