<apex:component controller="CaseActionandDetailsController_IP" selfClosing="true" layout="block" >
	<apex:attribute name="reasonDetail" description="Reason detail slected by user" type="String" required="true" assignTo="{!reasonDetailSelected}" />
	<apex:attribute name="vfPageController" type="PageControllerBase_IP" assignTo="{!pageController}" required="true" description="The controller for the page."  />
   	<apex:attribute name="componentKey" type="String" assignTo="{!key}" description="The key given to this component so the page can easily get access to it" />
   	<apex:attribute name="cssStyle" description="style for the input component" type="String"/>
    <apex:attribute name="importJquery" description="Assign false if you dont want to jquery files" type="Boolean" default="true" />
    <apex:attribute name="caseVal" description="Pass the case value for cloning" type="Case" assignTo="{!preCase}" />
    <apex:attribute name="sectionsToRender" type="String" description="Fill in sections to render or the action function" />
    
    <apex:outputPanel rendered="{!importJquery}">
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"/>
    </apex:outputPanel>
	
	<apex:includeScript id="characterCount" value="{!URLFOR($Resource.charCounter)}" />
    
    <script type="text/javascript">
        $(document).ready(function(){
                    
            /*$('.caseCommentsForAction').jqEasyCounter({
                'maxChars': 75,
                'maxCharsWarning': 70
            });*/
            
            $('.caseCommentsForAction').jqEasyCounter({
                'maxChars': {!$Setup.CaseCommCharLimit__c.CharactersAllowed__c},
                'maxCharsWarning': 40,
                'msgFontSize': '13px',
                'msgFontColor': '#000',
                'msgFontFamily': 'Avant Garde',
                'msgTextAlign': 'right',
                'msgWarningColor': '#F00',
                'msgAppendMethod': 'insertBefore'               
            });
           
    	});
    </script>

   	<!--- START ACTION PANELS -->
	<apex:outputPanel id="caseActionHeader" styleClass="slds-grid slds-container--fluid" style="{!cssStyle}">
    	<div class="slds-grid" style="background: #33A97F;border-radius: 25px; width: 50%;">
            <div class="slds-text-heading--small" style="color: #ffffff; padding-left: 20px;">How was the call handled?</div>
        </div>
        <br />
	</apex:outputPanel>
	<apex:outputPanel id="caseActionsScope" styleClass="slds-grid slds-container--fluid" style="{!cssStyle}">
		<div class="slds-form--compound slds-container--fluid">
			<apex:outputPanel id="actionSelection" styleClass="slds-grid">
				<div class="slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--3-of-6 slds-large-size--4-of-12">
					<div class="slds-form-element">
						<label class="slds-form-element__label">Action Taken
		                    &nbsp; &nbsp;<!--<h3 style="float:right;"><apex:outputText value="ADDITIONAL DETAIL TYPE IS REQUIRED TO PROCEED" rendered="{!IF(errorFlag == true && selectedDetailRecType != '',true,false)}" style="color: red;" /></h3> -->
		                </label>
		                <div class="slds-form-element__control">
			                <apex:selectList styleClass="slds-input" value="{!actionSelected}" id="actionSel" size="1">
			                    <apex:selectOptions value="{!Actions}" />
			                    <apex:actionSupport event="onchange" reRender="actionSelection" status="loadingStatus" action="{!resetActionDetails}" />
			                </apex:selectList><!--{!sectionsToRender},-->
		                </div>
					</div>
				</div>
				<div class="slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--3-of-6 slds-large-size--7-of-12">
					<div class="slds-form-element">
						<label class="slds-form-element__label">Action Detail
		                    &nbsp; &nbsp;<!--<h3 style="float:right;"><apex:outputText value="ADDITIONAL DETAIL TYPE IS REQUIRED TO PROCEED" rendered="{!IF(errorFlag == true && selectedDetailRecType != '',true,false)}" style="color: red;" /></h3> -->
		                </label>
		                <div class="slds-form-element__control">
			                <apex:selectList styleClass="slds-input" value="{!actionDetailSelected}" id="actionDetailSel" size="1">
			                    <apex:selectOptions value="{!ActionDetails}" />
			                    <!--<apex:actionSupport event="onchange" reRender="actionSelection" status="callLogStatus" />-->
			                </apex:selectList>
		                </div>
					</div>
				</div>
			</apex:outputPanel>
			<br />
	       <div class="slds-grid slds-container--fluid">
	            <div class="slds-form-element">
		            <label class="slds-form-element__label" for="caseComments">Comments</label>
		            <div class="slds-form-element__control">
		                <apex:inputTextarea value="{!userComments}" styleClass="caseCommentsForAction slds-textarea" html-placeholder="Type your comments here" id="caseCommentsForAction"  />
		            </div>
	            </div>
	        </div>
		</div>
	</apex:outputPanel>
</apex:component>