<apex:component >

	<div class="site-footer">
		<div class="row">
			<div class="footer">
				<div class="copyright large-6 small-12 columns">
					<a href="#">Copyright 2013, Integra Partners LLC</a>
				</div>

				<div class="large-6 small-12 columns">
					<ul>
						<li><a href="ProviderTermsConditions">Terms &amp; Conditions</a></li>
						<li><a href="ProviderPrivacyPolicy">Privacy Policy</a></li>
						<li><a href="mailto:clearhelp@accessintegra.com">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--site-footer-->

	<script>
	$(document).foundation();
	</script>

	<!--[if lt IE 8]>
	<script>
	jQuery(document).ready(function($){
	 $("#ie").css("display", "none");
	 $(""#ie").delay(800).fadeIn(800);
	});
	</script>
	<![endif]-->
	
</apex:component>