<apex:component >

<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/normalize.css.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/foundation.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/general_foundicons.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/order.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/summary-orders.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/notification.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/datepicker.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'css/responsive-tables.css')}"/>

<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/modernizr.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/chart.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/excanvas.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/jquery.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/notification.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/jquery-ui.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/jquery-ui-timepicker.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/foundation.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ProviderPortalSupportFiles, 'js/responsive-tables.js')}"/>

</apex:component>